* {
  padding: 0;
  margin: 0;
  box-sizing: inherit; }
  *::after, *::before {
    padding: 0;
    margin: 0;
    box-sizing: inherit; }

html {
  font-size: 62.5%;
  font-family: 'Roboto Mono', monospace; }

.btn {
  background-color: #ff1154;
  text-align: center;
  display: inline-block;
  font-size: 1.6rem;
  border-radius: 3px;
  transition: all 0.2s; }
  .btn:hover {
    background-color: #f65858; }

.btn--link {
  text-decoration: none;
  color: white;
  padding: 1.5rem 10rem; }

.heading-1 {
  color: #ffffff;
  font-size: 3.5rem;
  font-weight: 700; }

.container {
  display: grid;
  grid-template-rows: 10rem 50rem 8rem repeat(2, 10rem) 1fr 10rem 8rem 15rem 5rem;
  grid-template-columns: 1fr repeat(4, minmax(18rem, max-content)) 1fr; }

.navigation {
  background-color: #f3f3f3;
  grid-column: 1/-1; }

.header {
  grid-row: 2/3;
  grid-column: 1/-1; }

.categories-est {
  background-color: violet;
  grid-row: 3/4;
  grid-column: 1/-1; }

.recent-events {
  background-color: orangered;
  grid-row: 4/5;
  grid-column: 1/-1; }

.near-groups {
  background-color: green;
  grid-row: 5/ 6;
  grid-column: 2/6; }

.categoies {
  background-color: gold;
  grid-row: 6/7;
  grid-column: 2/6; }

.use-app {
  grid-row: 7/8;
  grid-column: 2/6;
  color: white;
  background-color: black; }

.install-app {
  background-color: #321321;
  grid-row: 8/9;
  grid-column: 2/6; }

.footer {
  background-color: #ff1154;
  grid-row: 9/10;
  grid-column: 2/6; }

.copyright {
  background-color: #0098ab;
  grid-row: 10/11;
  grid-column: 2/6; }

.m-sm {
  margin-bottom: 2rem !important; }

.m-lg {
  margin-bottom: 8rem !important; }

.m-md {
  margin-bottom: 4rem !important; }

.m-big {
  margin-bottom: 6rem !important; }

.center {
  text-align: center !important; }

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem; }
  .navigation__img {
    width: 8rem;
    height: 8rem;
    color: white; }
  .navigation__list {
    display: flex;
    list-style: none;
    font-size: 1.5rem; }
  .navigation__item:first-child {
    border-right: 1px solid #a7a5ac; }
    .navigation__item:first-child a {
      color: #357ae8;
      font-weight: 600; }
  .navigation__link {
    text-decoration: none;
    padding: 0 2rem;
    color: #a7a5ac; }

.header {
  position: relative; }
  .header__video {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1; }
  .header__content {
    height: 100%;
    width: 100%;
    object-fit: cover; }
  .header__details {
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }
    .header__details p {
      font-size: 1.6rem;
      font-weight: 700; }
