* {
  padding: 0;
  margin: 0;
  box-sizing: inherit; }
  *::after, *::before {
    padding: 0;
    margin: 0;
    box-sizing: inherit; }

html {
  font-size: 62.5%;
  font-family: 'Roboto Mono', monospace; }

.btn {
  background-color: #ff1154;
  text-align: center;
  display: inline-block;
  font-size: 1.6rem;
  border-radius: 3px;
  transition: all 0.2s; }
  .btn:hover {
    background-color: #f65858; }

.btn--link {
  text-decoration: none;
  color: white;
  padding: 1.5rem 10rem; }

.heading-1 {
  color: #ffffff;
  font-size: 3.5rem;
  font-weight: 700; }

.heading-2 {
  font-size: 3.5rem; }

.heading-3 {
  color: #232a2b;
  font-size: 2rem;
  font-weight: 700; }

.heading-4 {
  color: #232a2b;
  font-size: 1.7rem; }

.container {
  display: grid;
  grid-template-rows: 10rem 50rem 8rem repeat(2, minmax(min-content, max-content)) 1fr 10rem 8rem 15rem 5rem;
  grid-template-columns: 1fr repeat(4, minmax(30rem, max-content)) 1fr; }

.navigation {
  background-color: #f3f3f3;
  grid-column: 1/-1; }

.header {
  grid-row: 2/3;
  grid-column: 1/-1; }

.categories-est {
  grid-row: 3/4;
  grid-column: 1/-1; }

.near-groups {
  grid-row: 4/ 5;
  grid-column: 2/6; }

.categoies {
  grid-row: 5/6;
  grid-column: 2/6; }

.use-app {
  grid-row: 6/7;
  grid-column: -1/1;
  color: white;
  background-color: #0f1721; }

.install-app {
  background-color: #321321;
  grid-row: 7/8;
  grid-column: 2/6; }

.footer {
  background-color: #ff1154;
  grid-row: 8/9;
  grid-column: -1/1; }

.copyright {
  background-color: #0098ab;
  grid-row: 9/10;
  grid-column: -1/1; }

.m-sm {
  margin-bottom: 2rem !important; }

.m-lg {
  margin-bottom: 8rem !important; }

.m-md {
  margin-bottom: 4rem !important; }

.m-big {
  margin-bottom: 6rem !important; }

.center {
  text-align: center !important; }

.near-groups {
  display: grid;
  grid-template-rows: repeat(2, minmax(min-content, 10rem));
  grid-template-columns: repeat(4, minmax(max-content, 1fr));
  grid-gap: 3rem;
  padding: 2rem; }
  .near-groups__details {
    grid-column: 1/-1;
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .near-groups__details p {
      font-size: 1.6rem;
      font-weight: 700; }
  .near-groups__box {
    display: flex;
    flex-direction: column;
    box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    transition: all 0.2s;
    overflow: hidden;
    cursor: pointer; }
    .near-groups__box:hover {
      transform: translateY(-2px); }
  .near-groups__infor {
    padding: 0 1.25rem; }
    .near-groups__infor p {
      font-size: 1.3rem;
      font-weight: 700; }
    .near-groups__infor .near-groups__member {
      font-weight: 300; }
    .near-groups__infor .near-groups__type {
      font-size: 1.8rem;
      color: #969696; }
  .near-groups__title {
    font-size: 2rem;
    margin-bottom: 1rem; }
  .near-groups__img {
    height: 20rem;
    background-size: cover; }
    .near-groups__img--1 {
      background-image: url(https://secure.meetupstatic.com/photos/event/d/a/9/5/600_468475957.jpeg); }
    .near-groups__img--2 {
      background-position: 50%;
      background-image: url(https://secure.meetupstatic.com/photos/event/6/e/2/f/600_480688207.jpeg); }
    .near-groups__img--3 {
      background-image: url("https://secure.meetupstatic.com/photos/event/8/f/1/7/600_464556631.jpeg"); }
    .near-groups__img--4 {
      background-image: url(https://secure.meetupstatic.com/photos/event/1/5/c/600_473220348.jpeg); }
  .near-groups__btn, .near-groups__btn:link, .near-groups__btn:visited {
    text-decoration: none;
    font-size: 1.6rem;
    color: #25a5ca;
    font-weight: 700; }
  .near-groups span {
    display: block; }

.categories-est {
  display: grid;
  grid-template-columns: repeat(6, minmax(min-content, max-content));
  justify-content: center;
  grid-column-gap: 6rem;
  align-items: center;
  border-bottom: 1px solid #d8d7d8; }
  .categories-est [class^="categories-est-"] {
    font-size: 1.4rem;
    color: #827a75;
    font-weight: 600;
    background-color: #f6f7f8;
    display: inline-block;
    padding: 1rem 0.75rem;
    border-radius: 5px;
    border: 1px solid #d8d7d8;
    cursor: pointer;
    transition: all 0.2s; }
    .categories-est [class^="categories-est-"]:hover {
      border: 1.25px solid #d8d7d8; }

.categoies {
  display: grid;
  padding: 2rem;
  grid-template-rows: 5rem repeat(5, minmax(20rem, min-content));
  grid-template-columns: repeat(4, minmax(min-content, 26rem));
  grid-gap: 2rem; }
  .categoies__details {
    grid-column: 1/-1; }
    .categoies__details p {
      font-size: 1.6rem;
      font-weight: 700; }
  .categoies__type {
    display: flex;
    flex-direction: column; }
  .categoies__img {
    background-position: center center;
    height: 20rem;
    width: 26rem;
    border-radius: 8px;
    overflow: hidden;
    background-size: cover; }
    .categoies__img--1 {
      background-image: url(https://secure.meetupstatic.com/photos/event/2/e/a/7/600_450131943.jpeg); }
    .categoies__img--2 {
      background-image: url("https://secure.meetupstatic.com/photos/event/2/e/a/d/600_450131949.jpeg"); }
    .categoies__img--3 {
      background-image: url("https://secure.meetupstatic.com/photos/event/2/e/9/c/600_450131932.jpeg"); }
    .categoies__img--4 {
      background-image: url("https://secure.meetupstatic.com/photos/event/2/e/a/e/600_450131950.jpeg"); }
    .categoies__img--5 {
      background-image: url(https://secure.meetupstatic.com/photos/event/2/e/a/c/600_450131948.jpeg); }
    .categoies__img--6 {
      background-image: url(https://secure.meetupstatic.com/photos/event/2/e/9/b/600_450131931.jpeg); }
    .categoies__img--7 {
      background-image: url(https://secure.meetupstatic.com/photos/event/2/e/a/a/600_450131946.jpeg); }
    .categoies__img--8 {
      background-image: url(https://secure.meetupstatic.com/photos/event/2/e/a/1/600_450131937.jpeg); }
    .categoies__img--9 {
      background-image: url(https://secure.meetupstatic.com/photos/event/2/e/a/f/600_450131951.jpeg); }
    .categoies__img--10 {
      background-image: url(https://secure.meetupstatic.com/photos/event/2/e/a/3/600_450131939.jpeg); }
    .categoies__img--11 {
      background-image: url(https://secure.meetupstatic.com/photos/event/2/e/a/6/600_450131942.jpeg); }
    .categoies__img--12 {
      background-image: url(https://secure.meetupstatic.com/photos/event/2/e/a/5/600_450131941.jpeg); }
    .categoies__img--13 {
      background-image: url(https://secure.meetupstatic.com/photos/event/2/e/a/4/600_450131940.jpeg); }
    .categoies__img--14 {
      background-image: url(https://secure.meetupstatic.com/photos/event/4/8/3/f/600_450858495.jpeg); }
    .categoies__img--15 {
      background-image: url(https://secure.meetupstatic.com/photos/event/2/e/a/2/600_450131938.jpeg); }
    .categoies__img--16 {
      background-image: url(https://secure.meetupstatic.com/photos/event/2/e/9/5/600_450131925.jpeg); }
    .categoies__img--17 {
      background-image: url(https://secure.meetupstatic.com/photos/event/2/e/8/8/600_450131912.jpeg); }
    .categoies__img--18 {
      background-image: url(https://secure.meetupstatic.com/photos/event/2/e/9/6/600_450131926.jpeg); }
    .categoies__img--19 {
      background-image: url(https://secure.meetupstatic.com/photos/event/2/e/9/a/600_450131930.jpeg); }
    .categoies__img--20 {
      background-image: url(https://secure.meetupstatic.com/photos/event/2/e/a/9/600_450131945.jpeg); }
    .categoies__img--21 {
      background-image: url(https://secure.meetupstatic.com/photos/event/2/e/9/9/600_450131929.jpeg); }
    .categoies__img--22 {
      background-image: url(https://secure.meetupstatic.com/photos/event/2/e/9/e/600_450131934.jpeg); }
    .categoies__img--23 {
      background-image: url(https://secure.meetupstatic.com/photos/event/2/e/a/b/600_450131947.jpeg); }
    .categoies__img--24 {
      background-image: url(https://secure.meetupstatic.com/photos/event/2/e/9/7/600_450131927.jpeg); }

.near-groups {
  display: grid;
  grid-template-rows: repeat(2, minmax(min-content, 10rem));
  grid-template-columns: repeat(4, minmax(max-content, 1fr));
  grid-gap: 3rem;
  padding: 2rem; }
  .near-groups__details {
    grid-column: 1/-1;
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .near-groups__details p {
      font-size: 1.6rem;
      font-weight: 700; }
  .near-groups__box {
    display: flex;
    flex-direction: column;
    box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    transition: all 0.2s;
    overflow: hidden;
    cursor: pointer; }
    .near-groups__box:hover {
      transform: translateY(-2px); }
  .near-groups__infor {
    padding: 0 1.25rem; }
    .near-groups__infor p {
      font-size: 1.3rem;
      font-weight: 700; }
    .near-groups__infor .near-groups__member {
      font-weight: 300; }
    .near-groups__infor .near-groups__type {
      font-size: 1.8rem;
      color: #969696; }
  .near-groups__title {
    font-size: 2rem;
    margin-bottom: 1rem; }
  .near-groups__img {
    height: 20rem;
    background-size: cover; }
    .near-groups__img--1 {
      background-image: url(https://secure.meetupstatic.com/photos/event/d/a/9/5/600_468475957.jpeg); }
    .near-groups__img--2 {
      background-position: 50%;
      background-image: url(https://secure.meetupstatic.com/photos/event/6/e/2/f/600_480688207.jpeg); }
    .near-groups__img--3 {
      background-image: url("https://secure.meetupstatic.com/photos/event/8/f/1/7/600_464556631.jpeg"); }
    .near-groups__img--4 {
      background-image: url(https://secure.meetupstatic.com/photos/event/1/5/c/600_473220348.jpeg); }
  .near-groups__btn, .near-groups__btn:link, .near-groups__btn:visited {
    text-decoration: none;
    font-size: 1.6rem;
    color: #25a5ca;
    font-weight: 700; }
  .near-groups span {
    display: block; }

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem; }
  .navigation__img {
    width: 15rem;
    height: 10rem;
    color: white; }
  .navigation__list {
    display: flex;
    list-style: none;
    font-size: 1.5rem; }
  .navigation__item:first-child {
    border-right: 1px solid #a7a5ac; }
    .navigation__item:first-child a {
      color: #357ae8;
      font-weight: 600; }
  .navigation__link {
    text-decoration: none;
    padding: 0 2rem;
    color: #a7a5ac;
    transition: all 0.2s; }
    .navigation__link:hover {
      color: #357ae8; }

.use-app {
  display: grid;
  grid-template-columns: 1fr repeat(4, minmax(30rem, max-content)) 1fr; }
  .use-app__title {
    margin: 5rem auto; }
    .use-app__title h1 {
      font-size: 4rem; }
  .use-app__discover {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(2, minmax(max-content, 1fr)); }
    .use-app__discover--detail {
      display: grid;
      grid-column-gap: 2rem;
      grid-template-rows: 1fr;
      grid-template-columns: repeat(2, minmax(min-content, max-content)); }
  .use-app__details p {
    font-size: 1.4rem; }
  .use-app__icon {
    grid-row: 1/-1;
    width: 7rem;
    height: 7rem;
    fill: #00a2c7; }
  .use-app__link {
    grid-column: 2/-1;
    display: flex;
    justify-content: flex-start;
    align-items: center; }
  .use-app__btn, .use-app_btn:link, .use-app_btn:visited {
    font-size: 2rem;
    text-decoration: none;
    color: #00a2c7;
    padding-right: 2rem; }
  .use-app__arrows {
    width: 2.75rem;
    height: 2.75rem;
    fill: #00a2c7; }

.wrap-content {
  padding: 7rem 7rem;
  display: grid;
  grid-column: 2/6; }

.header {
  position: relative; }
  .header__video {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1; }
  .header__content {
    height: 100%;
    width: 100%;
    object-fit: cover; }
  .header__details {
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }
    .header__details p {
      font-size: 1.6rem;
      font-weight: 700; }
