.categories-est{
	display: grid;  
	grid-template-columns: repeat(6,minmax(min-content,max-content));
	justify-content: center;
    grid-column-gap: 6rem;
    align-items: center;
    border-bottom: 1px solid #d8d7d8 ; 
    [class^="categories-est-"] {
    	font-size: 1.4rem;
    	color: #827a75;
    	font-weight: 600;
    	background-color: #f6f7f8;
    	display: inline-block;
    	padding: 1rem 0.75rem;
    	border-radius: 5px;
		border: 1px solid #d8d7d8;
		cursor: pointer;
		transition: all 0.2s;
		&:hover{
			border: 1.25px solid #d8d7d8;  
		}
    } 
}