.footer{
	display: grid;
	grid-template-columns: 1fr repeat(4,minmax(30rem,max-content)) 1fr; 
	padding: 5rem 0;  
	&__wrap{
		grid-column: 2/6; 
		display: flex;
		flex-direction: column; 
	}
	&__title{
		flex: 8rem 0 0;
		color: white;
		border-bottom: 1px solid hsla(0,0%,100%,.2);
		h3{
			font-size: 2rem; 
			display: inline-block;  
			font-weight: 300;
			text-decoration: underline;
			transition: all 0.2s ; 
			cursor: pointer;
			&:hover{
				text-decoration: none;

			}
		}

	}
	&__details{
		display: grid;
		grid-template-columns: repeat(4,minmax(min-content,1fr));    
		h3{
			font-size: 2.25rem;
			font-weight: 700;  
			color: #fff;  
		}       
	}
	&__list{
		list-style: none;
	}
	&__item{
		list-style: none;		
	}
	&__link{
		text-decoration: none;  
		font-size: 1.8rem;  
		color: #fff; 
		padding: 1.5rem 0rem 1.5rem 0;  
		font-weight: 300;
		//margin-top: 1.5rem;
		display: inline-block;
		&:not(:last-child) {
		 padding-bottom: 0rem;     
		}
	}

}