.install-app{
	display: flex;
	justify-content: space-between;
	padding: 5rem 10rem;    
	&__user{
		height:25rem; 
	} 
	&__more{
		display: flex;
		flex-direction: column;

	}
	&__details{
		img{
			height: 6rem;            
		}
	}
	&__btn{
		font-size: 2rem;  
		text-decoration: none;
		color: #00a2c7;  
		padding-right: 2rem;  
		&:link,&:visited{
			text-decoration: none;
		}

	}
	&__link{
		display: flex;
		justify-content: flex-start;
		align-content: center;   

	}
}